<nav class="mw6 center flex items-center pa3 pt5 nav">
  <div class="logo">
    <a href="{{site.url}}" class="dib mw-100">
      {% include svg/logo.html %}
    </a>
  </div>

  <ul class="list ma0 pa0 flex flex-auto items-center justify-end">
    <li class="dib link mr3 social-icon">
      <a href="{{twitter}}" class="dib">
        {% include svg/twitter.html %}
      </a>
    </li>

    <li class="dib link mr3 social-icon">
      <a href="{{instagram}}" class="dib">
        {% include svg/instagram.html %}
      </a>
    </li>

    <li class="dib f6">
      <a href="app.koeo.co/login" class="link gray">
        Login
      </a>
    </li>
  </ul>
</nav>
