body,
input,
button,
textarea {
  font-family: 'Inter UI', sans-serif;
}

.brand { color: #5BD3CA }
.bg-brand { background-color: #5BD3CA }

.hero {
  background-color: #5BD3CA;
  background-image: url('/assets/images/hero-bg.jpg');
  background-size: cover;
  background-position: top center;
}
