footer.w-100.bg-egplant
  div.border-box.pa3.ph5-ns.center.mw8.flex.flex-column.flex-row-m.flex-row-l.items-baseline
    .w-100.mv3.order-last.order-0-m.order-0-l
      a.link.dim.db.w2(href='/')
        img(src="../public/logo-light.png", alt="Koeo logo")
      p.mv2.eggplant-light.f6.mono.o-50 Go places. Together.
      p.mv2.eggplant-light.f6.mono.o-50 &copy; 2018 Koeo Travel
      p.mv2.f6.mono
        a.link.dim.eggplant-light.underline(href='/terms-privacy', title='Terms and privacy') Terms &amp; Privacy

    .w-100.mv3
      h6.serif.eggplant-light.f5.fw6.ma0.mb2 Contact
      ul.list.mono.pa0.ma0
        - var socials = [{platform: 'Facebook',href: 'https://www.facebook.com/koeotravel/'},{platform: 'Instagram',href: 'https://www.instagram.com/koeotravel/'},{platform: 'Twitter',href: 'https://twitter.com/koeotravel'}]
          each val in socials
            li.mv2
              a.link.dim.eggplant-light.f6.dib.mono(href=val.href, title=val.platform) #{val.platform}
        li.mv2
          a.link.dim.eggplant-light.f6.dib.mono(href='mailto:team@koeo.co') Email us

//- Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-130669748-1')
script(type='text/javascript').
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-130669748-1');

//- Facebook Pixel Code
script(type='text/javascript').
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1542218902548148');
  fbq('track', 'PageView');
noscript
  img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=1542218902548148&ev=PageView&noscript=1')
