header
  nav.dt.center.mw8.w-100.border-box.pa3.ph5-ns
    .dtc.v-mid.mid-gray.link.dim.w-third(href='/', title='Home')
      svg.w3(width='180px', viewBox='0 0 180 144', version='1.1', xmlns='http://www.w3.org/2000/svg', xlink='http://www.w3.org/1999/xlink')
        g#logo-v3(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
          g#3---social(transform='translate(-38.000000, -56.000000)', fill-rule='nonzero')
            g#logo(transform='translate(38.000000, 56.000000)')
              path#Combined-Shape-Copy-4(d='M13.4997797,29.2015768 C13.4988952,29.1782053 13.4976176,29.1547923 13.4959411,29.131345 C13.4975311,29.1551926 13.4991475,29.1790326 13.5007903,29.2028652 Z M13.7434369,31.5 C15.9313392,46.827341 29.125314,58.5 44.9251445,58.5 L112.5,58.5 L112.5,31.5 C53.5999553,31.5 51.4033567,31.5 13.7434369,31.5 Z', stroke='#2B2C5A', stroke-width='9', fill='#F4C429')
              path#Combined-Shape-Copy-5(d='M4.74343691,4.5003574 C6.93133918,19.8276984 20.125314,31.5003574 35.9251445,31.5003574 L103.5,31.5003574 L103.5,4.5003574 C44.5999553,4.5003574 42.4033568,4.5003574 4.74343691,4.5003574 Z', stroke='#2B2C5A', stroke-width='9', fill='#F4C429')
              path#head(d='M177.680946,67.535461 L177.75546,67.5343204 C177.730559,67.5343204 177.705719,67.534702 177.680946,67.535461 Z M175.361539,67.6386405 C173.111999,32.3193097 143.737667,4.5 108,4.5 C70.7207794,4.5 40.5,34.7207794 40.5,72 C40.5,107.751402 68.3407194,137.134639 103.679483,139.364128 C106.696912,100.585702 137.072313,69.9373596 175.361539,67.6386405 Z', stroke='#2B2C5A', stroke-width='9', fill='#FFFFFF')
              path#beak(d='M177.750384,72.034476 C157.148707,72.034476 138.731264,81.9507312 126,96.3751609 L126,2.26831473 C156.358563,10.0820687 179.10182,37.1866501 179.965635,69.7540052 C180.009476,71.4068756 178.493826,72.034476 177.750384,72.034476 Z', fill='#2B2C5A')
              circle#eye(fill='#2B2C5A', cx='96.75', cy='47.25', r='11.25')
    //- .dtc.v-mid.w-auto.tr
    //-   a.link.dim.f6.f5-ns.dib.mono.fw6.ba.br2.pa2.eggplant(href='https://app.koeo.co', title='Join') Join &alpha; group
