header
  nav.dt.center.mw8.w-100.border-box.pa3.ph5-ns
    .dtc.v-mid.w-third(href='/', title='Home')
      a.link.dim.db.w3(href='/')
        img.w-100(src="../public/logo.png", alt="Koeo logo")
    //- .dtc.v-mid.w-auto.tr
    //-   a.link.dim.f6.f5-ns.dib.mono.fw6.ba.br2.pa2.eggplant(href='https://app.koeo.co', title='Join') Join &alpha; group
