extends ./layouts/default

block content
  h1.f2.f1-m.f-subheadline-l.lh-solid.serif.fw6.ma0 Go places. Together.
  p.f4.f3-m.f2-l.lh-title.serif We make the logistics of group travel simple and stress-free, so you and your crew can focus on the fun parts.
  include ./components/mailchimp-form
