
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='We make the logistics of group travel simple and stress-free, so you and your crew can focus on the fun parts.')
    title Koeo
    //- Favicon
    link(rel='icon', href='../public/favicon/favicon.ico')
    link(rel='apple-touch-icon', sizes='180x180', href='../public/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='../public/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='../public/favicon/favicon-16x16.png')
    link(rel='manifest', href='../public/favicon/site.webmanifest')
    link(rel='mask-icon', href='../public/favicon/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#603cba')
    meta(name='theme-color', content='#ffffff')
    //- Open Graph
    meta(property='og:image:height', content='1034')
    meta(property='og:image:width', content='1974')
    meta(property='og:title', content='Go places. Together.')
    meta(property='og:description', content='We make the logistics of group travel planning simple and stress-free, so you and your crew can focus on the fun parts.')
    meta(property='og:url', content='https://koeo.co/')
    meta(property='og:image', content='../public/favicon/og-image.jpg')
    //- Styles
    link(href='https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|IBM+Plex+Serif:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i', rel='stylesheet')
    link(rel='stylesheet', href='https://unpkg.com/tachyons@4.11.1/css/tachyons.min.css')
    link(rel='stylesheet', href='../public/styles/main.css')
  body
    include ../components/header
    main.center.mw8.w-100.border-box.pa3.ph5-ns.pb5-l.flex-auto
      block content
    include ../components/footer
